vrf definition ISPWAN
 address-family ipv4
 exit
crypto ikev2 proposal {{ ikev2.proposal }}
 encryption {{ ikev2.encryption }}
 integrity {{ ikev2.integrity }}
 {{ ikev2.dh_group }}
crypto ikev2 policy {{ ikev2.policy }}
 proposal {{ ikev2.proposal }}
crypto ikev2 keyring {{ ikev2.keyring }}
 peer flex
  address 0.0.0.0
  pre-shared-key {{ ikev2.keyring_psk }}
crypto ikev2 profile {{ ikev2.profile }}
 match fvrf {{ vrf.def }}
 match identity remote address 0.0.0.0
 authentication local pre-share
 authentication remote pre-share
 keyring local {{ ikev2.keyring_psk }}
 dpd 30 3 periodic
 nat keepalive 10
!
crypto ipsec transform-set {{ ipsec.name }} {{ ipsec.ts }}
!
crypto ipsec profile {{ ipsec.profile }}
 set transform-set {{ ipsec.name }}
 set ikev2-profile {{ ikev2.profile }}
!
interface {{ vpn_int }}
 vrf forwarding {{ vrf.def }}
 ip address {{ ip_vpnsource }}
!
{{ hub_int }}
!
{{ spoke_int }}
 tunnel mode ipsec ipv4
 tunnel vrf {{ vrf.def }}
 tunnel source {{ vpn_int }}